.card{
  border: 2px black solid;
}

#btn{
    font-size: 35px;
   }
   .btn{
    background: #C6A8A2;
    color: white;
    font-family: 'Oswald', sans-serif;
  }
  
  .btn:hover{
    opacity: 2;
    color: black;
  }
.sibling-fade {
 display: flex;
 flex-wrap: wrap;
}

.sibling-fade > * {
 
 flex: auto;
 text-align: center;
 color: #f05555;
 font-size: 1.5em;
 text-decoration: none;
}

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */